<!-- Content Row-->
<div class="container px-4 px-lg-5" id="fav">
    <div class="row gx-4 gx-lg-5">
        <div class="col-md-4 mb-5">
            <div class="card h-60">
                <div class="card-body">
                    <h2 class="card-title">Favourite Song</h2>
                    <h4 class="card-text"><em>Enthavaraku Song</em></h4>
                    <p class="card-text">Movie    :  Gamyam<br>
                        Lyrics    :  Sirivennela<br>
                        Music    :  E.S.Murthy, R Anil<br>
                        Singer   :  Ranjith</p>

                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://youtu.be/8uKIH7AnVfg" target="_blank">Listen</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-60">
                <div class="card-body">
                    <h2 class="card-title">Favourite Movie</h2>
                    <h4 class="card-text"><em>Dead Poets Society</em></h4>
                    <p class="card-text">When charismatic English professor John Keating arrives at a strict prep school, his unconventional teaching methods breathe new life into a curriculum steeped in tradition.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://youtu.be/ye4KFyWu2do"
                        target="_blank">Watch trailer</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-60">
                <div class="card-body">
                    <h2 class="card-title">Favourite Place</h2>
                    <h4 class="card-text"><em>Yellayyapeta</em></h4>
                    <p class="card-text">A viilage located in thondangi mandalam, Kakinada district, Andhra pradesh.Despite being a smaller region, my hometown holds most of the memories of my life.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://goo.gl/maps/oS21fzSgKjscqQ5F9" target="_blank">Directions</a></div>
            </div>
        </div>
    </div>
</div>