<div class="container px-4 px-lg-5" id="home">
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-4 py-5">
            <img class="img-fluid rounded mb-3 mb-lg-0" src="assets/profile.jpeg" alt="logo" />
        </div>
        <div class="col-lg-7" id="abt">
            <h1 class="font-weight-light">Koda V V Satya Sai Surya Ramakrishna</h1>
            <p>A dedicated and passionate Java developer with 1.5 years of professional experience in the software
                development industry. Throughout my career, I have honed my skills and knowledge in Java programming,
                and I am constantly seeking opportunities to expand my expertise.
            </p>
            <a id="msg" class="btn btn-primary" href="https://www.instagram.com/kodavvsatyasaisuryaramakrishna/" target="_blank">Message</a>
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body">
            <p class="text-white m-0">Look, If you had one shot, or one opportunity. To seize everything you ever wanted in one moment. Would you capture it or just let it slip?<br>-Eminem</p>
        </div>
    </div>
</div>
